<div class="row">
  <div class="col l6 m6 s12 offset-l3 offset-m3">
    <div class="list-box">
      <div class="list-header">
        <span class="title">Nova Nota</span>
      </div>
      <%= simple_form_for(@list) do |f| %>
        <div class="list-body">
          <%= f.error_notification %>

          <div class="row">
            <div class="input-field">
              <%= f.input :title, label: 'Título', input_html: { autocomplete: "off" } %>
            </div>
          </div>
          <div id="items">
            <%= f.simple_fields_for :items do |item| %>
              <%= render partial: 'item_fields', locals: { f: item } %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'Adicionar', f, :items, class: 'js-add hidden' %>
            </div>
          </div>
        </div>
        <div class="list-footer">
          <div class="row">
            <%= link_to 'Adicionar', '#', onclick: 'adicionarLista()', class: 'btn waves-effect waves-light blue darken-2 right' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>