<% list.items.order(done: :asc).each do |item| %>
  <div class="row">
    <div class="col s9">
      <%= check_box_tag "done-#{item.id}", item.id, item.done, class: 'filled-in done' %>
      <%= label_tag "done-#{item.id}", item.description, class: item.done ? 'black-text complete' : 'black-text' %>
    </div>
    <div class="col s3">
      <span class='sp-no-l sp-del-i right red-text' data-item-id='<%= item.id %>'>
        <%= material_icon.delete.md_18 %>
      </span>
      <span class='sp-no-l sp-edit-i right blue-text' data-item-id='<%= item.id %>'>
        <%= material_icon.edit.md_18 %>
      </span>
    </div>
  </div>
<% end %>