<div id="<%= list.id %>" class="list">
  <div class="col l4 m8 s12 offset-m2">
    <div class="list-box <%= list.color %>">
      <div class="list-header">
        <div class="row">
          <div class="col s10">
            <span class="title"><%= list.title %></span>
          </div>
          <div class="col s2">
            <%= link_to material_icon.close.md_18, '#', onclick: "apagarLista(this, #{list.id})", class: 'right black-text' %>
          </div>
        </div>
      </div> 
      <div class="list-body">
        <div class="items">
          <%= render partial: 'items', locals: { list: list } %>
        </div>
      </div>
      <div class="list-footer">
        <div class="row">
          <%= link_to material_icon.plus_one.md_18, '#', class: 'tooltipped grey-text text-darken-2', data: { toggle: 'tooltip', tooltip: 'Adicionar Colaborador', position: 'bottom', delay: '50' } %>
          <%= link_to material_icon.color_lens.md_18, '#', class: 'dropdown-button grey-text text-darken-2', data: { toggle: 'tooltip', tooltip: 'Alterar cor', position: 'left', delay: '50', activates: "dropdown-color-#{list.id}", beloworigin: 'true' } %>
          <ul id="dropdown-color-<%= list.id %>" class='dropdown-content'>
            <li id="<%= list.id %>" class="item color">
              <%= link_to material_icon.panorama_fish_eye.md_18, '#', id: "blue lighten-3", class: 'blue-text' %>
            </li>
            <li id="<%= list.id %>" class="item color">
              <%= link_to material_icon.panorama_fish_eye.md_18, '#', id: "white", class: 'grey-text' %>
            </li>
            <li id="<%= list.id %>" class="item color">
              <%= link_to material_icon.panorama_fish_eye.md_18, '#', id: "red lighten-3", class: 'red-text' %>
            </li>
            <li id="<%= list.id %>" class="item color">
              <%= link_to material_icon.panorama_fish_eye.md_18, '#', id: "yellow", class: 'yellow-text' %>
            </li>
          </ul>
        </div>
      </div>
    </div>       
  </div>
</div>