<!DOCTYPE html>
<html>
  <head>
    <title>Single Page Notes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="grey lighten-4">
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s2 m2 l2">
                <%= link_to material_icon.menu.md_24, '#', class: 'menu button-collapse grey-text text-darken-3', data: { activates: 'slide-out' } %>
                <%= link_to "SP Notes", root_path, class: 'brand-logo grey-text text-darken-3' %>
              </div>
              <div class="col s5 m4 l4 offset-s2 offset-m2 offset-l2">
                <%= form_tag(lists_path, method: :get, class: 'search') do %>
                  <div class="input-field">
                    <%= search_field_tag :keyword, params[:keyword], id: 'search', placeholder: 'Pesquisar', autocomplete: 'off' %>
                    <label for="search">
                      <%= material_icon.search.md_24 %>
                    </label>
                  </div>
                <% end %>
              </div>
              <div class="col s4 m4 l4">
                <ul class="right">
                  <li><%= link_to material_icon.refresh.md_24, '#', class: 'grey-text text-darken-2' %></li>
                  <li><%= link_to material_icon.view_stream.md_24, '#', class: 'grey-text text-darken-2' %></li>
                  <li><%= link_to material_icon.notifications.md_24, '#', class: 'grey-text text-darken-2' %></li>
                  <li><%= link_to material_icon.exit_to_app.md_24, destroy_user_session_path, class: 'grey-text text-darken-2' %></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
